# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_Store
.idea

# This file gets rendered at runtime
/config/prod.cfg

/vendor/bin

# ignore direnv configuration
.envrc

# coverage files
*.cov
coverage.html
coverage.txt
coverage.xml
.coverage

.vscode
*.swp

# Python runtime files
*.pex
.mypy_cache
__pycache__
*.egg-info
*.tar.gz
dist

# Python virtual envs
.venv
venv
